/**
 * Partials
 */
@import "partials/header";


/**
 * Test a mixin
 * --- Ignore this line
 * @annotationTest
 * @aliasTest
 */
@mixin testMixin(){

}


/**
 * Test a function
 * @annotationTest
 * @multiline
 *  @test
 *  This is a
 *  multiline
 *  annotation
 */

@function testFunction(){

}

/**
 * Test a function
 * @annotationTest
 */

@function test-dash(){

}


/**
 * Parse multiple multiline annotations See #3
 *
 * @multiline
 * This is a
 * multiline
 * annotation
 *
 * @multiline
 * This is a
 * multiline
 * annotation
 */

@function testMultiline(){

}


/**
 * Test a placeholder
 * @annotationTest
 */
%testPlaceholder {

}


/**
 * Test a variable
 * @annotationTest
 */
$testVariable : "value";

/**
 * Test a variable
 * @annotationTest
 */
$globalVar : "value" !global;

/**
 * Test a variable
 * @annotationTest
 */
$dash-test : "value" !global;


/**
 * Test pretty print See #2
 */
$map: (
  "a": "b",
  "c": ""
);